<div *ngIf="!globalErrMsg; else globalError" class="onecx-viewport-wrapper">
  <ng-container *ngIf="themeService.currentTheme$ | async; else noTheme">
    <!-- Header slot group -->
    <header class="onecx-header" id="ocx_header">
      <ocx-shell-slot-group
        name="onecx-shell-header"
        direction="row"
        [ngStyle]="{display: 'flex', width: '100%'}"
        [groupStyles]="{'align-items': 'center', width: '100%'}"
        [slotClassStart]="'flex flex-row flex-nowrap justify-content-start align-items-center'"
        [slotInputs]="slotHeaderInputs"
        [slotOutputs]="slotHeaderOutputs"
      ></ocx-shell-slot-group>
    </header>

    <!-- SubHeader slot group -->
    <div class="onecx-subheader">
      <ocx-shell-slot-group name="onecx-shell-sub-header"></ocx-shell-slot-group>
    </div>
    <div class="onecx-body-wrapper">
      <!-- BodyStart slot group -->
      <div class="onecx-body-start">
        <ocx-shell-slot-group
          name="onecx-shell-body-start"
          direction="column"
          [groupStyles]="{display: 'flex', height: '100%'}"
        ></ocx-shell-slot-group>
      </div>
      <div class="onecx-body-center">
        <!-- BodyHeader slot group -->
        <div class="onecx-body-header">
          <ocx-shell-slot-group name="onecx-shell-body-header"></ocx-shell-slot-group>
        </div>
        <!-- Body slot group -->
        <div class="onecx-body">
          <ng-container *ngIf="!routesService || (routesService.showContent$ | async); else appLoading">
            <ng-content></ng-content>
            <router-outlet></router-outlet>
          </ng-container>
        </div>
        <!-- BodyFooter slot group -->
        <div class="onecx-body-footer">
          <ocx-shell-slot-group name="onecx-shell-body-footer"></ocx-shell-slot-group>
        </div>
      </div>
      <!-- BodyEnd slot group -->
      <div class="onecx-body-end">
        <ocx-shell-slot-group
          name="onecx-shell-body-end"
          direction="column"
          [groupStyles]="{display: 'flex', height: '100%'}"
        ></ocx-shell-slot-group>
      </div>
    </div>

    <!-- Footer slot group -->
    <footer>
      <ocx-shell-slot-group name="onecx-shell-footer"></ocx-shell-slot-group>
    </footer>
  </ng-container>
</div>

<ng-template #noTheme>
  <div class="onecx-no-theme-main">
    <div class="onecx-no-theme-content relative">
      <ng-content></ng-content>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>

<ng-template #globalError>
  <ocx-shell-error [errCode]="globalErrMsg"></ocx-shell-error>
</ng-template>

<ng-template #appLoading>
  <ocx-shell-loading-spinner></ocx-shell-loading-spinner>
</ng-template>

<!-- Extensions slot for adding custom functionality -->
<ocx-slot class="extensions-slot" name="onecx-shell-extensions"></ocx-slot>
