<div *ngIf="!globalErrMsg; else globalError" >
  <ng-container *ngIf="themeService.currentTheme$ | async; else noTheme">
    <ocx-shell-header [menuButtonTitle]="menuButtonTitle"></ocx-shell-header>

    <p-toast [style]="{'word-break': 'break-word'}"></p-toast>

    <div class="onecx-subheader">
      <!-- Placeholder for onecx-shell-subheader slot group -->
    </div>
    <div class="onecx-body-wrapper">
      <div class="onecx-body-start">
        <!-- Placeholder for onecx-shell-body-start slot group -->
        <ocx-slot [name]="verticalMenuSlotName"> </ocx-slot>
      </div>
      <div class="onecx-body-center">
        <!-- Placeholder for onecx-shell-body-header slot group -->
        <div class="onecx-body-header">
          <ocx-slot name="onecx-shell-sub-header"></ocx-slot>
        </div>
        <div class="onecx-body">
          <ng-container *ngIf="!routesService || (routesService.showContent$ | async); else appLoading">
            <ng-content></ng-content>
            <router-outlet></router-outlet>
          </ng-container>
        </div>
        <!-- Placeholder for onecx-shell-body-footer slot group -->
        <div class="onecx-body-footer"></div>
      </div>
      <!-- Placeholder for onecx-shell-body-end slot group -->
      <div class="onecx-body-end"></div>
    </div>
    <footer>
      <!-- Placeholder for onecx-shell-footer slot group -->
      <ocx-slot
        [name]="footerSlotName"
        class="onecx-shell-footer mx-3 h-full flex flex-row flex-wrap align-items-center column-gap-3 row-gap-1 text-sm"
        [inputs]="{ imageStyleClass: 'h-1rem vertical-align-middle' }"
      >
      </ocx-slot>
    </footer>
  </ng-container>
</div>

<ng-template #noTheme>
  <div class="onecx-no-theme-main">
    <div class="onecx-no-theme-content relative">
      <ng-content></ng-content>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>

<ng-template #globalError>
  <ocx-shell-error [errCode]="globalErrMsg"></ocx-shell-error>
</ng-template>

<ng-template #appLoading>
  <ocx-shell-loading-spinner></ocx-shell-loading-spinner>
</ng-template>
