<section class="p-4" [attr.aria-label]="'INITIALIZATION_ERROR_PAGE.SECTION' | translate">
  <h1 class="md:text-xl text-lg mb-1">{{ 'INITIALIZATION_ERROR_PAGE.TITLE' | translate }}</h1>
  <p class="text-base">{{ 'INITIALIZATION_ERROR_PAGE.SUBTITLE' | translate }}</p>

  <div *ngIf="error$ | async as error" class="mt-3 flex flex-column row-gap-2 md:text-base text-sm">
    <div id="onecxInitializationErrorMessage" *ngIf="error.message">
      <div class="font-bold">{{ 'INITIALIZATION_ERROR_PAGE.DETAILS.MESSAGE' | translate }}</div>
      <i>{{ error.message }}</i>
    </div>
    <div id="onecxInitializationErrorRequestedUrl" *ngIf="error.requestedUrl">
      <div class="font-bold">{{ 'INITIALIZATION_ERROR_PAGE.DETAILS.REQUESTED_URL' | translate }}</div>
      <i>{{ error.requestedUrl }}</i>
    </div>
    <div id="onecxInitializationErrorDetail" *ngIf="error.detail">
      <div class="font-bold">{{ 'INITIALIZATION_ERROR_PAGE.DETAILS.DETAILS' | translate }}</div>
      <i>{{ error.detail }}</i>
    </div>
    <div id="onecxInitializationErrorErrorCode" *ngIf="error.errorCode">
      <div class="font-bold">{{ 'INITIALIZATION_ERROR_PAGE.DETAILS.ERRORCODE' | translate }}</div>
      <i>{{ error.errorCode }}</i>
    </div>
    <div id="onecxInitializationErrorInvalidParams" *ngIf="error.invalidParams">
      <div class="font-bold">{{ 'INITIALIZATION_ERROR_PAGE.DETAILS.INVALID_PARAMS' | translate }}</div>
      <i>{{ error.invalidParams }}</i>
    </div>
    <div id="onecxInitializationErrorParams" *ngIf="error.params">
      <div class="font-bold">{{ 'INITIALIZATION_ERROR_PAGE.DETAILS.PARAMS' | translate }}</div>
      <i>{{ error.params }}</i>
    </div>
  </div>

  <button
    class="mt-4 w-max"
    (click)="onLogout()"
    [attr.aria-label]="'LOGOUT' | translate"
    [attr.title]="'LOGOUT.TOOLTIP' | translate"
  >
    {{ 'LOGOUT' | translate }}
  </button>
</section>
