# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc
reports
coverage

# dependencies
node_modules

# IDEs and editors
.c9
.idea
.project
.classpath
.history
.settings
.vscode
*.launch
*.sublime-workspace

# misc
.nx
.angular
.eslintcache
.sass-cache
.husky/_
connect.lock
typings
*.log
*.sh

# System Files
.DS_Store
Thumbs.db
