# Add files here to ignore them from prettier formatting
.angular/**
.nx/**
.husky/**
.docusaurus/
.github/**
.scannerwork/
.eslintcache
.prettierignore
.browserslistrc
dist/**
helm/**
nginx/**
reports/**
coverage/**
node_modules
CHANGELOG.md
README.md
Dockerfile
*.log
*.sh
src/app/shared/generated/**
src/assets/api/*
