<ocx-slot
  class="flex align-items-center"
  [name]="name() + '.start'"
  [ngStyle]="slotStyles()"
  [ngClass]="computedSlotClasses()"
  [inputs]="slotInputsStart()"
  [outputs]="slotOutputs()"
></ocx-slot>
<ocx-slot
  class="flex align-items-center flex-grow-1"
  [name]="name() + '.center'"
  [ngStyle]="slotStyles()"
  [ngClass]="computedSlotClasses()"
  [inputs]="slotInputsCenter()"
  [outputs]="slotOutputs()"
></ocx-slot>
<ocx-slot
  class="flex align-items-center"
  [name]="name() + '.end'"
  [ngStyle]="slotStyles()"
  [ngClass]="computedSlotClasses()"
  [inputs]="slotInputsEnd()"
  [outputs]="slotOutputs()"
></ocx-slot>
