<div class="flex justify-content-between" [ngClass]="computedSlotGroupClasses()" [ngStyle]="slotGroupStyles()">
  <ocx-slot
    class="flex align-items-center"
    [name]="name() + '.start'"
    [ngStyle]="slotStyles()"
    [ngClass]="computedSlotClasses()"
    [slotStyles]="rcWrapperStyles()"
    [slotClasses]="rcWrapperClasses()"
    [inputs]="slotInputsStart()"
    [outputs]="slotOutputs()"
  ></ocx-slot>
  <ocx-slot
    class="flex align-items-center flex-grow-1"
    [name]="name() + '.center'"
    [ngStyle]="slotStyles()"
    [ngClass]="computedSlotClasses()"
    [slotClasses]="rcWrapperClasses()"
    [slotStyles]="rcWrapperStyles()"
    [inputs]="slotInputsCenter()"
    [outputs]="slotOutputs()"
  ></ocx-slot>
  <ocx-slot
    class="flex align-items-center"
    [name]="name() + '.end'"
    [ngStyle]="slotStyles()"
    [ngClass]="computedSlotClasses()"
    [slotStyles]="rcWrapperStyles()"
    [slotClasses]="rcWrapperClasses()"
    [inputs]="slotInputsEnd()"
    [outputs]="slotOutputs()"
  ></ocx-slot>
</div>
