<div style="display: flex; justify-content: space-between" [ngStyle]="containerStyles()" [ngClass]="groupClasses()">
  <ocx-slot
    [name]="name() + '.start'"
    [ngStyle]="computedSlotStyles()"
    [ngClass]="slotClasses()"
    [slotStyles]="rcWrapperStyles()"
    [slotClasses]="rcWrapperClasses()"
    [inputs]="slotInputsStart()"
    [outputs]="slotOutputs()"
  ></ocx-slot>
  <ocx-slot
    [name]="name() + '.center'"
    [ngStyle]="computedSlotStyles()"
    [ngClass]="slotClasses()"
    [slotStyles]="rcWrapperStyles()"
    [slotClasses]="rcWrapperClasses()"
    [inputs]="slotInputsCenter()"
    [outputs]="slotOutputs()"
  ></ocx-slot>
  <ocx-slot
    [name]="name() + '.end'"
    [ngStyle]="computedSlotStyles()"
    [ngClass]="slotClasses()"
    [slotStyles]="rcWrapperStyles()"
    [slotClasses]="rcWrapperClasses()"
    [inputs]="slotInputsEnd()"
    [outputs]="slotOutputs()"
  ></ocx-slot>
</div>
