<div
  *ngIf="versionInfo$ | async as version"
  class="w-full text-right"
  [attr.aria-label]="'Version Information'"
  role="note"
>
  <span [attr.aria-label]="'Workspace'" [attr.title]="'Workspace'" role="note"> {{ version.workspaceName }} </span>
  <span [attr.aria-label]="'Shell'" [attr.title]="'Shell'" role="note"> {{ version.shellInfo }} </span>
  <span aria-hidden="true">{{ version.separator }}</span>
  <span [attr.aria-label]="'Microfrontend'" [attr.title]="'Microfrontend'" role="note"> {{ version.mfeInfo }} </span>
</div>
