<div *ngIf="versionInfo$ | async as version" class="w-full text-right">
  <span aria-label="Workspace" pTooltip="Workspace" tooltipPosition="top" tooltipEvent="hover">
    {{ version.workspaceName }}
  </span>
  <span aria-label="Shell" pTooltip="Shell" tooltipPosition="top" tooltipEvent="hover">
    {{ version.hostVersion }}
  </span>
  <span>{{ version.separator }}</span>
  <span aria-label="Microfrontend" pTooltip="Microfrontend" tooltipPosition="top" tooltipEvent="hover">
    {{ version.mfeInfo }}
  </span>
</div>
