app:
  name: ui
  image:
    repository: 'onecx/onecx-shell-ui'
  routing:
    enabled: true
    path: /newShell/

  operator:
    # Keycloak
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            clientId: 'onecx-shell-ui'
    slot:
      enabled: true
      specs:
        menu:
          name: 'menu'
          description: 'Shell main menu'
        horizontal:
          name: 'horizontalMenu'
          description: 'Shell horizontal menu'
        header-right:
          name: 'headerRight'
          description: 'Shell header right'
        sub-header:
          name: 'subHeader'
          description: 'Shell sub header menu'
        footer:
          name: 'footer'
          description: 'Shell footer'
# PIPE Config
