app:
  name: ui
  image:
    repository: 'onecx/onecx-shell-ui'
  routing:
    enabled: true
    path: /newShell/

  operator:
    # Keycloak
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            clientId: 'onecx-shell-ui'
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        version-info:
          exposedModule: "./OneCXVersionInfoComponent"
          description: "Display version information of shell and current application"
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-shell
          tagName: ocx-version-info-component
          deprecated: true
        shell-toast:
          exposedModule: "./OneCXShellToastComponent"
          description: "Display shell toast notifications"
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-shell
          tagName: ocx-shell-toast-component
          deprecated: true
    # Microservice
    microservice:
      spec:
        name: OneCX Shell UI
        description: OneCX Shell Frontend
    # Slot
    slot:
      enabled: true
      specs:
        # Header
        onecx-shell-header.start:
          name: onecx-shell-header.start
          description: "Start region of the shell header (e.g. logo)"
        onecx-shell-header.center:
          name: onecx-shell-header.center
          description: "Center region of the shell header (e.g. horizontal menu, search bar)"
        onecx-shell-header.end:
          name: onecx-shell-header.end
          description: "End region of the shell header (e.g. user profile)"

        # SubHeader
        onecx-shell-sub-header.start:
          name: onecx-shell-sub-header.start
          description: "Start region of the shell sub header (e.g. bookmarks)"
        onecx-shell-sub-header.center:
          name: onecx-shell-sub-header.center
          description: "Center region of the shell sub header (e.g. banner bar)"
        onecx-shell-sub-header.end:
          name: onecx-shell-sub-header.end
          description: "End region of the shell sub header (e.g. action buttons)"

        # BodyStart
        onecx-shell-body-start.start:
          name: onecx-shell-body-start.start
          description: "Start region of the shell body start (e.g. quick links)"
        onecx-shell-body-start.center:
          name: onecx-shell-body-start.center
          description: "Center region of the shell body start (e.g. sidebar navigation)"
        onecx-shell-body-start.end:
          name: onecx-shell-body-start.end
          description: "End region of the shell body start (e.g. action buttons)"

        # BodyHeader
        onecx-shell-body-header.start:
          name: onecx-shell-body-header.start
          description: "Start region of the shell body header (e.g. breadcrumbs)"
        onecx-shell-body-header.center:
          name: onecx-shell-body-header.center
          description: "Center region of the shell body header (e.g. title)"
        onecx-shell-body-header.end:
          name: onecx-shell-body-header.end
          description: "End region of the shell body header (e.g. action buttons)"

        # BodyFooter
        onecx-shell-body-footer.start:
          name: onecx-shell-body-footer.start
          description: "Start region of the shell body footer (e.g. info)"
        onecx-shell-body-footer.center:
          name: onecx-shell-body-footer.center
          description: "Center region of the shell body footer (e.g. comment section)"
        onecx-shell-body-footer.end:
          name: onecx-shell-body-footer.end
          description: "End region of the shell body footer (e.g. action buttons)"

        # BodyEnd
        onecx-shell-body-end.start:
          name: onecx-shell-body-end.start
          description: "Start region of the shell body end (e.g. quick links)"
        onecx-shell-body-end.center:
          name: onecx-shell-body-end.center
          description: "Center region of the shell body end (e.g. sidebar navigation)"
        onecx-shell-body-end.end:
          name: onecx-shell-body-end.end
          description: "End region of the shell body end (e.g. action buttons)"

        # Footer
        onecx-shell-footer.start:
          name: onecx-shell-footer.start
          description: "Start region of the shell footer (e.g. logo)"
        onecx-shell-footer.center:
          name: onecx-shell-footer.center
          description: "Center region of the shell footer (e.g. footer menu)"
        onecx-shell-footer.end:
          name: onecx-shell-footer.end
          description: "End region of the shell footer (e.g. version info)"

        # Extensions
        onecx-shell-extensions:
          name: onecx-shell-extensions
          description: "For providing additional functions, that will not be displayed inside the slot (e.g. toast messages, cookie banner)"

        # Additional slots
        onecx-search-config:
          name: onecx-search-config
          description: "Slot used by library components that can be used in all applications. Its defined in shell and should not be redefined in products that use the slots. Use this slot to manage search configurations on the search pages via assigned remote components."
        onecx-column-group-selection:
          name: onecx-column-group-selection
          description: "Slot used by library components that can be used in all applications. Its defined in shell and should not be redefined in products that use the slots. Use this slot to manage table column group selection via assigned remote components."

        # Deprecated slots
        onecx-shell-vertical-menu:
          name: onecx-shell-vertical-menu
          description: 'Shell vertical menu'
          deprecated: true
        onecx-shell-horizontal-menu:
          name: onecx-shell-horizontal-menu
          description: 'Shell horizontal menu within shell header right'
          deprecated: true
        onecx-shell-header-left:
          name: onecx-shell-header-left
          description: "Shell header left region"
          deprecated: true
        onecx-shell-header-right:
          name: onecx-shell-header-right
          description: "Shell header right region e.g. horizontal menu, top bar"
          deprecated: true
        onecx-shell-sub-header:
          name: onecx-shell-sub-header
          description: "Shell sub header region e.g. banner bar"
          deprecated: true
        onecx-shell-footer:
          name: onecx-shell-footer
          description: "Footer area on the page e.g. logo, footer menu, version info etc."
          deprecated: true
        onecx-page-footer:
          name: onecx-page-footer
          description: "Footer area on the page usually filled by a Workspace Component which organized the content like logo, menu, version etc."
          deprecated: true
        