/*
  Style sheet for global styles.
  This file should ONLY contain styles that are meant to be applied GLOBALLY.
  Shell is going to load this style sheet with a link tag on the startup.

  To define styles for Shell only, please refer to shell-styles.scss.
*/

// Import theme_defaults so default theme variables are available on the page
@import 'node_modules/@onecx/portal-layout-styles/src/styles/shell/theme_defaults.scss';

$mobileBreakpoint: 991px !default;
:root {
  --mobile-break-point: #{$mobileBreakpoint};
  font-size: var(--font-size, var(--font-size-default));
  --ocx-focus-ring-width: 2px;
  --ocx-focus-ring-color: black;
  --ocx-focus-background-color: rgba(120, 120, 120, 0.5);
}

body {
  font-family: var(--font-family, var(--font-family-default));
  overflow: hidden;
  background-color: var(--body-bg-color, var(--body-bg-color-default));
  color: var(--text-color, var(--text-color-default));
  padding: 0;
  margin: 0;
  min-height: 100%;

  a {
    text-decoration: none;
    color: var(--text-secondary-color, var(--text-secondary-color-default));
  }
}

// disable default settings of dialogs created by portal dialog service
.buttonDialogScrollableContent {
  overflow: unset;
  max-height: unset !important;
  margin-bottom: 1rem !important;
}

.ocx-focus-host:is(:focus, :focus-within) {
  outline: none !important;
  box-shadow: inset 0 0 0 var(--ocx-focus-ring-width) var(--ocx-focus-ring-color) !important;
  background-color: var(--ocx-focus-background-color) !important;
  box-sizing: border-box !important;
}
