@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

ocx-shell-root + .splash {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #555;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  .splash-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    .splash-loader {
      animation: rotator 1.4s linear infinite;
      .splash-path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation:
          dash 1.4s ease-in-out infinite,
          colors 5.6s ease-in-out infinite;
      }
    }
  }
}

ocx-shell-root:empty + .splash {
  display: flex;
  opacity: 1;
}
