name: Auto merge dependabot Angular and Onecx PRs
on:
  pull_request_target:
jobs:
  auto-merge:
    if: >- 
      github.event.pull_request.user.login == 'dependabot[bot]' &&
      (
        startsWith(github.head_ref, 'dependabot/npm_and_yarn/angular-') ||
        startsWith(github.head_ref, 'dependabot/npm_and_yarn/onecx-')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Auto Approve
        uses: actions/github-script@v4
        with:
          script: |
            const result = await github.pulls.createReview({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number,
            event: "APPROVE"
            })
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
