<header class="onecx-header" id="ocx_header">
  <!-- Placeholder for onecx-shell-header slot group -->
  <div class="onecx-header-start" [attr.aria-label]="'OCX_HEADER.HEADER_LEFT' | translate">
    <ocx-slot
      name="onecx-shell-header-left"
      class="flex flex-row flex-nowrap justify-content-start align-items-center"
      [inputs]="{ imageStyleClass: 'max-h-3rem max-w-9rem vertical-align-middle' }"
      [outputs]="{ imageLoadingFailed: logoLoadingEmitter }"
    >
    </ocx-slot>
    <div *ngIf="themeLogoLoadingFailed"></div>
  </div>
  <div class="onecx-header-center" [attr.aria-label]="'OCX_HEADER.HEADER_CENTER' | translate">
    <div>
      <ocx-slot name="onecx-shell-horizontal-menu"></ocx-slot>
    </div>
  </div>
  <div class="onecx-header-end" [attr.aria-label]="'OCX_HEADER.HEADER_RIGHT' | translate">
    <div class="onecx_header_end_actions_right">
      <ocx-slot name="onecx-shell-header-right" class="onecx_header_end_actions_right_items"> </ocx-slot>
    </div>
  </div>
</header>
